@model Jeudfra_Beta.Models.Client
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@Model.Name</h2>*@
<p>@Model.Name</p>
<p>@Model.Surname</p>
<p>@Model.NationalIdNumber</p>
<p>@Model.MaritalStatus</p>
<p>@Model.Age</p>
<p>@Model.Gender</p>
<p>@Model.Cellphone</p>
<p>@Model.HomeTel</p>
<p>@Model.WorkTell</p>
<p>@Model.Email</p>


