@using System.Activities.Expressions

@using Microsoft.Owin.BuilderProperties

@model Jeudfra_Beta.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="main-header" class="py2 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fa fa-gear"></i> Dashboard</h1>
            </div>
        </div>
    </div>
</header>
<br />


<section id="action" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-primary btn-block " data-toggle="modal" data-target="#addPaymentModal">
                    <i class="fa fa-plus text-center"></i> Add Payment
                </a>
                @*@Html.ActionLink("Add Client", "New",
                    new { Controller = "Client" }, new { @class = "btn btn-secondary" })*@
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#addCategoryModal">
                    <i class="fa fa-plus text-center"></i> Add Policy
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-warning btn-block" data-toggle="modal" data-target="#addClientModal">
                    <i class="fa fa-plus text-center"></i> Add Client
                </a>
            </div>
            @*<div class="col-md-3">
                    <a href="#" class="btn btn-warning btn-block" data-toggle="modal" data-target="#addClientModal">
                        <i class="fa fa-plus text-center"></i> Add Payment
                    </a>
                </div>*@
            <div class="col-md-3">
                <a href="#" class="btn btn-danger btn-block text-center" data-toggle="modal" data-target="#addEmployeeModal">
                    <i class="fa fa-plus"></i> Add Employee
                </a>
            </div>
        </div>
    </div>
</section>


<!-- Payments -->
<section id="payments_dialogue">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Recent Payments</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Policies</th>
                                <th>Paid By</th>
                                <th>Amount</th>
                                <th>Date Paid</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>E012</td>
                                <td>Standard</td>
                                <td>A Visser</td>
                                <td>R100</td>
                                <td>Dec 09 2017</td>
                                <td>
                                    <a href="details.html" class="btn btn-secondary">
                                        <i class="fa fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">2</td>
                                <td>A002</td>
                                <td>Standard</td>
                                <td>P Mvimbi</td>
                                <td>R100</td>
                                <td>Dec 08 2017</td>
                                <td>
                                    <a href="details.html" class="btn btn-secondary">
                                        <i class="fa fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">3</td>
                                <td>A099</td>
                                <td>Mini</td>
                                <td>J Motsoe</td>
                                <td>R100</td>
                                <td>Dec 08 2017</td>
                                <td>
                                    <a href="details.html" class="btn btn-secondary">
                                        <i class="fa fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">4</td>
                                <td>E1038</td>
                                <td>Standard</td>
                                <td>R Cloete</td>
                                <td>R100</td>
                                <td>Dec 08 2017</td>
                                <td>
                                    <a href="details.html" class="btn btn-secondary">
                                        <i class="fa fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">5</td>
                                <td>A072</td>
                                <td>Mini</td>
                                <td>N Visser</td>
                                <td>R70</td>
                                <td>Dec 07 2017</td>
                                <td>
                                    <a href="details.html" class="btn btn-secondary">
                                        <i class="fa fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">6</td>
                                <td>E233</td>
                                <td>Plus</td>
                                <td>P Coetzee</td>
                                <td>R130</td>
                                <td>Dec 07 2017</td>
                                <td>
                                    <a href="details.html" class="btn btn-secondary">
                                        <i class="fa fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">6</td>
                                <td>E233</td>
                                <td>Plus</td>
                                <td>P Coetzee</td>
                                <td>R130</td>
                                <td>Dec 07 2017</td>
                                <td>
                                    <a href="details.html" class="btn btn-secondary">
                                        <i class="fa fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">6</td>
                                <td>E233</td>
                                <td>Plus</td>
                                <td>P Coetzee</td>
                                <td>R130</td>
                                <td>Dec 07 2017</td>
                                <td>
                                    <a href="details.html" class="btn btn-secondary">
                                        <i class="fa fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">6</td>
                                <td>E233</td>
                                <td>Plus</td>
                                <td>P Coetzee</td>
                                <td>R130</td>
                                <td>Dec 07 2017</td>
                                <td>
                                    <a href="details.html" class="btn btn-secondary">
                                        <i class="fa fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">6</td>
                                <td>E233</td>
                                <td>Plus</td>
                                <td>P Coetzee</td>
                                <td>R130</td>
                                <td>Dec 07 2017</td>
                                <td>
                                    <a href="details.html" class="btn btn-secondary">
                                        <i class="fa fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="col-md-3">
                <div class="card text-center bg-primary text-white mb-3">
                    <div class="card-body">
                        <h3>Payments</h3>
                        <h1 class="display-4">
                            <i class="fa fa-pencil"></i> @Model.paymentCount
                        </h1>
                        <a href="posts.html" class="btn btn-outline-light btn-sm">View</a>
                    </div>
                </div>

                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Policies</h3>
                        <h1 class="display-4">
                            <i class="fa fa-folder-open-o"></i> @Model.policyCount
                        </h1>
                        <a href="categories.html" class="btn btn-outline-light btn-sm">View</a>
                    </div>
                </div>

                <div class="card text-center bg-warning text-white mb-3">
                    <div class="card-body">
                        <h3>Clients</h3>
                        <h1 class="display-4">
                            <i class="fa fa-users"></i>@Model.customersCount
                        </h1>
                        <a href="users.html" class="btn btn-outline-light btn-sm">View</a>
                    </div>
                </div>

                <div class="card text-center bg-danger text-white mb-3">
                    <div class="card-body">
                        <h3>Employees</h3>
                        <h1 class="display-4">
                            <i class="fa fa-users"></i> 0
                        </h1>
                        <a href="users.html" class="btn btn-outline-light btn-sm">View</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<!-- Employee MODAL -->
<div class="modal fade" id="addEmployeeModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Add Employee</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset class="border col-md-12">
                        <legend>Personal Details</legend>
                        <div class="form-group">
                            <label></label>
                            <input type="text" id="emp_first_input" class="form-control form-control-md col-12 mb-3 ">
                            <input placeholder="Surname e.g. Ramalefane" type="text" id="emp_surn_input" class="form-control  form-control-md col-12 mb-3 ">
                            <input placeholder="ID Number" type="text" id="emp_id_input" class="form-control  form-control-md col-12 mb-3 ">
                            <select id="emp_gender_input" class="form-control form-control-md col-12 mb-3">
                                <option>Select Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                            <select id="emp_type_input" class="form-control form-control-md col-12 mb-3">
                                <option>Select Employee Type</option>
                                <option>Field</option>
                                <option>Office</option>
                            </select>
                        </div>
                    </fieldset>
                    <br />
                    <fieldset class="border col-md-12">
                        <legend>Address Details</legend>
                        <div class="form-group">
                            <select id="City" class="form-control form-control-md col-12 mb-3">
                                <option class="active">Select City</option>
                                <option>Upington</option>
                                <option>Kakamas</option>
                                <option>Louisvale</option>
                            </select>
                            <!-- <input placeholder="City" type="text" class="form-control form-control-md col-12 mb-3 "> -->
                            <input placeholder="Suburb" type="text" class="form-control  form-control-md col-12 mb-3 ">
                            <input placeholder="Street" type="text" class="form-control  form-control-md col-12 mb-3 ">
                            <input placeholder="number" type="text" class="form-control  form-control-md col-12 mb-3 ">
                            <input placeholder="AreaCode" type="text" class="form-control  form-control-md col-12 mb-3 ">
                        </div>
                    </fieldset>
                    <br />
                    <fieldset class="border col-md-12">
                        <legend>Contact Details</legend>
                        <div class="form-group">
                            <input id="emp_cell_input" placeholder="Cellphone" type="text" class="form-control form-control-md col-12 mb-3 ">
                            <input id="emp_home_tell_input" placeholder="Home Telephone" type="text" class="form-control  form-control-md col-12 mb-3 ">
                            <input id="emp_email_input" placeholder="Email Address" type="text" class="form-control  form-control-md col-12 mb-3 ">
                        </div>
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                <button class="btn btn-danger" id="btn_save" data-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>

 @*Client MODAL*@ 
<div class="modal fade" id="addClientModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-warning text-white">
                    <h5 class="modal-title">Add Clients</h5>
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                @using (Html.BeginForm("Save", "Client"))
                {

                <div class="modal-body">
                    @Html.ValidationSummary(true, "Please fix the following errors.")
                    @Html.AntiForgeryToken()

                    <fieldset class="border col-md-12">
                        <legend>Personal Details</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Customer.Name)
                            @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control form-control col-12 mb-3 " })
                            @Html.ValidationMessageFor(m => m.Customer.Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Customer.Surname)
                            @Html.TextBoxFor(m => m.Customer.Surname, new { @class = "form-control form-control col-12 mb-3 " })
                            @Html.ValidationMessageFor(m => m.Customer.Surname)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Customer.NationalIdNumber)
                            @Html.TextBoxFor(m => m.Customer.NationalIdNumber, new { @class = "form-control form-control col-12 mb-3 " })
                            @Html.ValidationMessageFor(m => m.Customer.NationalIdNumber)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Customer.BirthDate)
                            @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control form-control col-12 mb-3 " })
                            @Html.ValidationMessageFor(m => m.Customer.BirthDate)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Customer.Gender)
                            @Html.DropDownListFor(m => m.Customer.Gender, new List<SelectListItem>
                                                                                                                                                                                                                        {
                                                                                                                                                                                                                            new SelectListItem {Text = "Male", Value = "Male"},
                                                                                                                                                                                                                            new SelectListItem {Text = "Female", Value = "Female"}
                                                                                                                                                                                                                        }, "Select Gender", new { @class = "form-control form-control col-12 mb-3 " })
                            @Html.ValidationMessageFor(m => m.Customer.Gender)
                        </div>
                    </fieldset>
                    <br />

                    <fieldset class="border col-md-12">
                        <legend>Address Details</legend>
                        <div class="form-group">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Customer.Address.City)
                                @Html.DropDownListFor(m => m.Customer.Address.City, new List<SelectListItem>
                                                                                                                                                                                                                                                                        {
                                                                                                                                                                                                                                                                            new SelectListItem {Text = "Upington", Value = "Upington"},                                                                                                                                                                                                                                                                           new SelectListItem {Text = "Kakamas", Value = "Kakamas"},
                                                                                                                                                                                                                                                                             new SelectListItem {Text = "Louisvale", Value = "Louisvale"}                                                                                                                                                                                                                                                                        }, "Select City", new { @class = "form-control form-control col-12 mb-3 " })
                                @Html.ValidationMessageFor(m => m.Customer.Address.City)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Customer.Address.Suburb)
                                @Html.TextBoxFor(m => m.Customer.Address.Suburb, new { @class = "form-control form-control col-12 mb-3 " })
                                @Html.ValidationMessageFor(m => m.Customer.Address.Suburb)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Customer.Address.Street)
                                @Html.TextBoxFor(m => m.Customer.Address.Street, new { @class = "form-control form-control col-12 mb-3 " })
                                @Html.ValidationMessageFor(m => m.Customer.Address.Street)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Customer.Address.HouseNumber)
                                @Html.TextBoxFor(m => m.Customer.Address.HouseNumber, new { @class = "form-control form-control col-12 mb-3 " })
                                @Html.ValidationMessageFor(m => m.Customer.Address.HouseNumber)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Customer.Address.AreaCode)
                                @Html.TextBoxFor(m => m.Customer.Address.AreaCode, new { @class = "form-control form-control col-12 mb-3 " })
                                @Html.ValidationMessageFor(m => m.Customer.Address.AreaCode)
                            </div>
                        </div>
                    </fieldset>
                    <br />
                    <fieldset class="border col-md-12">
                        <legend>Spouse Details</legend>
                        <div class="form-group">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Customer.Spouse.Name)
                                @Html.TextBoxFor(m => m.Customer.Spouse.Name, new { @class = "form-control form-control col-12 mb-3 " })
                                @Html.ValidationMessageFor(m => m.Customer.Spouse.Name)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Customer.Spouse.Surname)
                                @Html.TextBoxFor(m => m.Customer.Spouse.Surname, new { @class = "form-control form-control col-12 mb-3 " })
                                @Html.ValidationMessageFor(m => m.Customer.Spouse.Surname)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Customer.Spouse.NationalIdNumber)
                                @Html.TextBoxFor(m => m.Customer.Spouse.NationalIdNumber, new { @class = "form-control form-control col-12 mb-3 " })
                                @Html.ValidationMessageFor(m => m.Customer.Spouse.NationalIdNumber)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Customer.Spouse.BirthDate)
                                @Html.TextBoxFor(m => m.Customer.Spouse.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control form-control col-12 mb-3 " })
                                @Html.ValidationMessageFor(m => m.Customer.Spouse.BirthDate)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Customer.Spouse.Gender)
                                @Html.DropDownListFor(m => m.Customer.Spouse.Gender, new List<SelectListItem>
                                                                                                                                                                                                            {
                                                                                                                                                                                                                new SelectListItem {Text = "Male", Value = "Male"},
                                                                                                                                                                                                                new SelectListItem {Text = "Female", Value = "Female"}
                                                                                                                                                                                                            }, "Select Gender", new { @class = "form-control form-control col-12 mb-3 " })
                                @Html.ValidationMessageFor(m => m.Customer.Spouse.Gender)
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="border col-md-12">
                        <legend>Contact Details</legend>
                        <div class="form-group">
                            <input id="client_cell_input" placeholder="Cellphone" type="text" class="form-control form-control-md col-12 mb-3 ">
                            <input id="client_home_tell_input" placeholder="Home Telephone" type="text" class="form-control  form-control-md col-12 mb-3 ">
                            <input id="client_work_tell_input" placeholder="Work Telephone" type="text" class="form-control  form-control-md col-12 mb-3 ">
                            <input id="client_email_input" placeholder="Email Address" type="text" class="form-control  form-control-md col-12 mb-3 ">
                        </div>
                    </fieldset>

                </div>
                    <div class="modal-footer">
                        @Html.HiddenFor(m => m.Customer.Id)
                        <button class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                        <button id="btn_client_save" type="submit" class="btn btn-danger">Save Changes</button>
                    </div>
                }
            </div>
        </div>
    </div>


<!-- New Payment MODAL -->
@*<div class="modal fade" id="addPaymentModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title">Add Clients</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            @using (Html.BeginForm("Save", "Payments"))
            {

                <div class="modal-body">
                    @Html.ValidationSummary(true, "Please fix the following errors.")
                   

                    <fieldset class="border col-md-12">
                        <legend>Personal Details</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Payment.Customer)
                            @Html.DropDownListFor(m => m.Payment.Customer,new SelectList(Model.Customers,"Id","Name"),"Select Customer", new { @class = "form-control form-control col-12 mb-3 " })
                            @Html.ValidationMessageFor(m => m.Payment.Customer)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Payment.Policy)
                            @Html.DropDownListFor(m => m.Payment.Policy, new SelectList(Model.Policies, "Id", "Name"), "Select Customer", new { @class = "form-control form-control col-12 mb-3 " })
                            @Html.ValidationMessageFor(m => m.Payment.Customer)
                        </div>
                        
                    </fieldset>
                    <br />
                </div>
                <div class="modal-footer">
                    @Html.HiddenFor(m => m.Payment.Id)
                    <button class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                    <button id="btn_client_save" type="submit" class="btn btn-danger">Save Changes</button>
                </div>
            }
        </div>
    </div>
</div>*@

<!-- Payment MODAL -->
<div class="modal fade" id="addPaymentModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title">Add Payments</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <form id="newPay" name="newPay" @*method="post"  action="api/newPayment/CreateNewPayment"*@>
                <div class="modal-body">
                    <fieldset class="border col-md-12">
                        <legend>Personal Details</legend>
                        <div class="form-group col-12 mb-3">
                            <label>Customer</label>
                            <div class="tt-container ">
                                <input id="customerIn" type="text" value="" class="form-control  form-control-md col-12 mb-3 ">
                            </div>
                        </div>
                        <div class="form-group col-12 mb-3">
                            <label>Policy</label>
                            <div class="tt-container">
                                <input id="policyIn" type="text" value="" class="form-control  form-control-md col-12 mb-3 ">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <ul id="policies" class="list-group"></ul>
                            </div>
                        </div>
                        <br />
                    </fieldset>
                    <br />
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
                <br />
            </form>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var vm = {
                policyIds: []
            };
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customerIn').typeahead({
                minLength: 3,
                highlight: true
            }, {
                    name: 'customers',
                    display: 'name',
                    source: customers
                }).on("typeahead:select", function (e, customer) {
                    vm.customerId = customer.id;
                });

            var policies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/policies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#policyIn').typeahead({
                minLength: 3,
                highlight: true
            }, {
                    name: 'policies',
                    display: 'name',
                    source: policies
                }).on("typeahead:select", function (e, policy) {
                    $("#policies").append("<li class='list-group-item'>" + policy.name + "</li>");

                    $("#policyIn").typeahead("val", "");
                    vm.policyIds.push(policy.id);
                    //vm.policyIds.push(policy.id);
                });

            $('#newPay').submit( function (e) {
                e.preventDefault();

                $.ajax({
                    url: '/api/newPayment/',
                    method: 'POST',
                    //dataType: 'application/json',
                    data: vm
                })
                .done(function () {
                        toastr.success("Payments successfully recorded.");
                }).fail(function () {
                        toastr.error("Something unexpected happened.");
                });
            });
        });
    </script>
}





